@use '../utilities' as *;

#countdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
    position: fixed;
    top: calc(50% + 48px);
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.8s ease;
    margin-top:32px;
    @media (max-width:$desktop-viewport) {
        top:50%;
    }
    @media (max-height:$short-viewport-height) {
        transform: translate(-50%, -50%) scale(0.9);
        margin-top:-24px;
    }
    .countdown-title {
        font-size: 14px;
        font-family: $stolzl-light;
        font-weight: 300;
        text-align: center;
        margin-top: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media (max-width:$mobile-viewport) {
            font-size:12px;
        }
    }
    > div {
        display: flex;
        align-items: center; 
        gap: 16px;  
        @media (max-width:1024px) {
            gap: 12px;
        }
    }
    .time-unit {
        position: relative;
        text-align: center;
        white-space: nowrap;
        user-select: none;
        &#hours,
        &#minutes,
        &#seconds {
            .number {}
        }
    }

    .colon {
        opacity: 0.44;
        font-weight: 220;
        line-height: 1.44;
        font-size: 48px;
        user-select: none;
        //display: none;

        @media (max-width:1024px) {
            font-size: 32px;
        }

        @media (max-width:620px) {
            font-size: 24px;
        }
    }

    .number {
        display: block;
        perspective: 2000px;
        transform-style: preserve-3d;
        font-size: min(9vw, 88px);
        font-weight: 900;
        white-space: nowrap;
        user-select: none;
        min-width:120px;
        @media (max-height:$short-viewport-height) {
            font-size: 48px;
        }
        @media (max-width:$desktop-viewport) {
            min-width:80px;
        }
        @media (max-width:$mobile-viewport) {
            min-width:40px;
        }
        .char {
            display: inline-block;
            font-weight: inherit;
            font-size: inherit;
            width: 5vw;
        }
    }

    .label {
        font-size: 14px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.62;
        font-weight: 320;
        user-select: none;
        @media (max-width:620px) {
            font-size: 10px;
        }
    }
}