@use '../utilities' as *;

#events {
    min-height: 0 !important;
    margin-bottom: 0 !important;
}

.events-panel {
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    padding-top: 12svh;

    //padding-bottom: 134px;
    //padding-bottom: 71px;
    &.original {
        padding-top: 92px;


        .events-list {
            margin-bottom: 92px;

            @media (max-width:$mobile-viewport) {
                margin-bottom: 48px;
            }
        }
    }

    @media (max-width:$mobile-viewport) {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        padding-top: 48px;
        padding-bottom: 0;
    }

    >div {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #6b46ff;
        position: absolute;
        top: 0;
        left: 0;
        border-top-left-radius: 64px;
        border-top-right-radius: 64px;
        z-index: 0;
        mix-blend-mode: difference;

        @media (max-width:$mobile-viewport) {
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
        }
    }

    .content-area {
        //width: 1366px;
        width: 1416px;
        max-width: 100%;
        padding: 0 40px;
        margin: 0 auto;

        @media (max-width:$mobile-viewport) {
            padding: 0 16px;
        }

        .title-row {
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            align-items: center;

            h2 {
                margin-left: 0 !important;
            }
        }


        .events-list {
            margin-bottom: 12svh;

            @media (max-width:$mobile-viewport) {
                margin-bottom: 6svh;
            }
        }

        .event-list-item {
            height: 100px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            padding: 32px;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            justify-content: flex-start;
            align-items: center;

            &.disabled {
                pointer-events: none;
            }

            @media (max-width:$desktop-viewport) {
                height: auto;
                padding: 24px 0;
            }

            @media (max-width:$mobile-viewport) {
                height: auto;
                padding: 16px 0;
            }

            .event-title, .event-date {
                font-size: 36px;
                transition: all 0.3s ease;
                line-height: 125%;

                @media (max-width:1280px) and (min-width:$mobile-viewport) {
                    font-size: 18px;
                }

                @media (max-width:$mobile-viewport) {
                    font-size: 16px;
                    flex: 1;
                }
            }

            .event-title {
                font-weight: 700;
                width: 53%;
                margin-left: 0;
                margin-right: 48px;
                align-items: center;
                display: flex;
                flex-wrap: nowrap;
                gap: 8px;

                @media (max-width:$mobile-viewport) {
                    font-size: 16px;
                    width: auto;
                    display: inherit;
                }

                .external-link-icon {
                    transition: opacity 0.3s ease;
                    opacity: 0;
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                }
            }

            .event-date {
                font-weight: 400;
                margin-left: 0;
                margin-right: auto;

                @media (max-width:$desktop-viewport) {
                    flex: 1;
                    margin-right: 0;
                    margin-left: auto;
                }
            }

            &:hover,
            &.active {
                background-color: rgba(255, 255, 255, 0.1);

                .event-title, .event-date {
                    color: #ffffff;
                    transform: translateX(8px);
                }

                .event-date {
                    transform: translateX(-16px);
                }

                .event-title .external-link-icon {
                    opacity: 1;
                }
            }
        }
    }

    .mouse-following-image {
        @media (max-width:$mobile-viewport) {
            display: none !important;
        }
    }
}