@use '../utilities' as *;

.footer-bar {
    height: 24px;
    margin-top: 64px;

    @media (max-width:$desktop-viewport) {
        height: auto;
        margin-bottom: 40px;
    }

    .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1336px;
        max-width: calc(100% - 80px);
        margin: 0 auto;
        height: 24px;
        flex-wrap: wrap;

        @media (max-width:$desktop-viewport) {
            height: auto;
            flex-direction: column;
            gap: 16px;
        }

        >svg {
            width: 100px;

            @media (max-width:$desktop-viewport) {
                //width: 100%;
                display: block;
            }
        }

        >span {
            font-weight:450;
            font-size: 12px;
            margin-left: 24px;
            margin-right: auto;
            &.separator {
                margin-right:8px;
            }
            @media (max-width:$desktop-viewport) {
                font-size: 10px;
                text-align: center;
                display: block;
                width: 100%;
                margin-left: auto;
            }
        }

        .email {
            font-weight:450;
            @media (max-width:$desktop-viewport) {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0 !important;
            }
        }

        .external-links {
            font-weight:450;
            transform:translateY(2px) translateX(16px);
            @media (max-width:$desktop-viewport) {
                transform:translateY(2px);
            }
        }
        .right-column {
            height: 24px;
            display: flex;
            align-items: center;
            gap: 24px;
            margin-right: 0;
            margin-left: auto;
            transform:translateY(2px);
            font-weight:450;
            @media (max-width:$desktop-viewport) {
                height: auto;
                flex-direction: column;
                gap: 16px;
                margin: 0 auto;
            }

            .social-wrapper {
                display: none !important; //remove if we add social

                @media (max-width:$desktop-viewport) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto 24px !important;
                    padding: 0 16px;
                }
            }

            a {
                width: 24px;
                height: 24px;

                &:hover {
                    svg {
                        transform: scale(1.1);
                        opacity: 1;
                    }
                }

                svg {
                    width: 100px;
                    //width: 100%;
                    max-height: 100%;
                    display: block;
                    transition: all 0.18s ease;
                    will-change: transform;
                    opacity: 0.9;
                }

                &.tt {
                    transform: scale(1.15);
                }

                &.x {
                    transform: scale(0.88);
                }
            }
        }
    }

    .separator {
        width: 1px;
        height: 16px;
        background: #fff;
        opacity: 0.33;
        margin: 0;

        @media (max-width:$desktop-viewport) {
            display: none!important;
        }
    }
}

#ft .footer-bar {
    margin: 0;
    margin-top: 32px;

    @media (max-width:$desktop-viewport) {
        margin-top: 16px;
    }

    .inner-wrapper {
        max-width: 100%;
    }
}