@use '../utilities' as *;

.share-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 128px 48px;
    @media (max-width:$mobile-viewport) {
        padding: 64px 24px 128px;
    }
    h2.hashtag-celebrate {
        margin-bottom:48px;
        @media (max-width:$mobile-viewport) {
            margin-bottom:24px;
        }
        + h5 {
            margin-bottom:48px;
            @media (max-width:$mobile-viewport) {
                margin-bottom:24px;
            }
        }
        + h5 + span {
            margin-top:12px;
            transform:scale(0.8);
            display:block;
        }
    }
}