//Sections

#app {
    width: 100%;
    position: relative;
    z-index: 1;

    section {
        width: 100%;
        min-height: 100dvh;
        position: relative;

        &.height-100vh {
            height: 100dvh;
        }

        &.height-200vh {
            height: 200dvh;
        }

        &.height-300vh {
            height: 300dvh;
        }

        &.height-400vh {
            height: 400dvh;
        }

        &.height-500vh {
            height: 500dvh;
        }

        &.height-600vh {
            height: 600dvh;
        }
    }
}