@use './utilities' as *;



@font-face {
    font-family: 'stolzl-light';
    font-weight: 100 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Stolzl-Light.woff2') format('woff2'),
         url('/fonts/Stolzl-Light.woff') format('woff');
}

@font-face {
    font-family: 'stolzl';
    font-weight: 450;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Stolzl-Book.woff2') format('woff2'),
         url('/fonts/Stolzl-Book.woff') format('woff');
}

@font-face {
    font-family: 'stolzl';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Stolzl-Regular.woff2') format('woff2'),
         url('/fonts/Stolzl-Regular.woff') format('woff');
}

@font-face {
    font-family: 'stolzl';
    font-weight: 500 600; //tells browser to use Medium for 500+ without artificial bold
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Stolzl-Medium.woff2') format('woff2'),
         url('/fonts/Stolzl-Medium.woff') format('woff');
}

@font-face {
    font-family: 'stolzl-bold';
    font-weight: 700 900; //tells browser to use Medium for 500+ without artificial bold
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Stolzl-Bold.woff2') format('woff2'),
         url('/fonts/Stolzl-Bold.woff') format('woff');
}

body {
    font-family: "stolzl", Arial, sans-serif;
}

h1,h2,h3,h4,h5,p {
    width:100%;
    max-width: $text-width-max;
}
h1 {
    font-family: $font-family;
    font-size: 10vw;
    font-weight: 450;
    line-height: 1;
    letter-spacing: -0.05em;
    //margin: 24px 0 0 !important;
    margin: 2px 0 0 !important;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.242), 0px 1px 8px rgba(0, 0, 0, 0.12);

    @media (min-width:1600px) {
        margin: 16px 0 0 !important;
    }

    @media (min-width:1800px) {
        margin: 24px 0 0 !important;
    }
}

h2 {
    font-family: $stolzl-bold;
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.05em;
    letter-spacing: -0.25px;
    @media (min-width:$desktop-viewport) and (max-width:1440px) {
        font-size: 48px;
    }
    @media (max-width:$desktop-viewport) {
        font-size: 6vw;
    }

    @media (max-width:$mobile-viewport) {
        font-size: 10vw;
        font-size: 36px;
        max-width: 82vw;
        margin-left: auto;
        margin-right: auto;
    }
}

h3 {
    font-family: $stolzl-bold;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.05em;
    letter-spacing: -0.25px;
    text-shadow: $text-shadow;

    @media (min-width:$desktop-viewport) and (max-width:1440px) {
        font-size: 36px;
    }

    @media (max-width:$desktop-viewport) {
        font-size: 28px;
    }

    @media (max-width:$mobile-viewport) {
        font-size: 24px;
        max-width: 82vw;
        margin-left: auto;
        margin-right: auto;
    }

    &.cards-heading {
        @media (max-width:1280px) {
            margin: 0 auto 0;
        }

        @media (max-width:$desktop-viewport) {
            margin: 15vw auto 0;
        }
    }
}

h4 {
    font-family: $stolzl-light!important;
    font-weight: 400!important;
    font-size: clamp(16px, 3vw, 32px);
    line-height: 1.4;
    letter-spacing: -0.05em;
    letter-spacing: -0.25px;
    margin-bottom: 20px;
    max-width: min(82vw, 1280px);
    margin-left: auto;
    margin-right: auto;
    text-shadow: $text-shadow;

    @media (min-width:$desktop-viewport) {
        //max-width: calc(100vw - 500px);
    }

    @media (min-width:1441px) {
        font-size: 40px;
    }

    @media (max-width:$desktop-viewport) {
        font-size: clamp(24px, 3vw, 3vw);
        max-width: calc(100vw - 32px);
    }

    @media (max-width:$mobile-viewport) {
        font-size: 18px;
    }

    .split-line {
        font-weight:inherit;
        font-family:inherit;
    }
}

h5 {
    font-family: $font-family;
    font-weight:450;
}
p {
    font-family: $stolzl-light;
    font-weight: 450;
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
}

p.large-paragraph, span:not(.split-char) {
    max-width: 82vw;
    margin: 0 auto;

    @media (max-width:$mobile-viewport) {
        max-width: calc(100vw - 32px);
    }
}

p.large-paragraph {
    font-family: $stolzl-light;
    font-size: 2.5vw;
    text-align: center;
    font-weight: 100;
    color: #fff;
    text-shadow: $text-shadow;

    @media (max-width:$mobile-viewport) {
        font-size: 4.75vw;
    }
}

i {
    font-style: italic !important;
}

#get-involved-heading {
    width: 60vw;
}